ROBOFLOW_API_KEY=wFUSR5rSX1xE8DJrDlGj
ROBOFLOW_WORKSPACE=muhammad-sayyid-tsabit-anfaresi
ROBOFLOW_WORKFLOW_ID=business-card-information-extractor-1787034042585
ROBOFLOW_API_URL=https://serverless.roboflow.com
DATABASE_PATH=contacts.db
